<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Blog</title>
</head>
<body>
    <div>
        <h1><a href="/">Django Girls Blog</a> </h1>
    </div>
    <div>
        <p>published: 02.10.2020, 12:04</p>
        <h2><a href="">My first post</a> </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis mollis arcu. Etiam sodales vel augue a viverra. Sed porta eros vitae porta rutrum. Fusce sit amet massa odio. In quis egestas dui. Suspendisse viverra neque at commodo pharetra. Praesent malesuada vestibulum risus, eu suscipit lacus congue ut. Morbi faucibus ante vitae placerat convallis.</p>
    </div>
    <div>
        <p>published: 02.10.2020, 12:06</p>
        <h2><a href="">My second post</a> </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis mollis arcu. Etiam sodales vel augue a viverra. Sed porta eros vitae porta rutrum. Fusce sit amet massa odio. In quis egestas dui. Suspendisse viverra neque at commodo pharetra. Praesent malesuada vestibulum risus, eu suscipit lacus congue ut. Morbi faucibus ante vitae placerat convallis.</p>
    </div>
</body>
</html>